body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
}

h4 {
    text-align: center;
    margin: 20px 0;
    color: #002855;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container label {
    font-size: 16px;
    color: #002855;
    font-weight: bold;
}

.container input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
}

.container button {
    align-self: center;
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #002855;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: fit-content;
}

.container button:hover {
    background-color: #004080;
}

.container form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}






